.ColorPicker {
  background: black;
  width: 15em;
  
  button {
    border: none;
    border-radius: 20%;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
  }

  div {
    width: 100px;
    height: 100px;
  }

  .red {
    background-color: red;
  }

  .darkorchid {
    background-color: darkorchid;
    color: white;
  }

  .blue {
    background-color: blue;
    color: white;
  }

}